.navbar ul {
  z-index: 10;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: start;
  top: 65px;
  background-color: #fff;
  width: 100%;
  height: calc(100vh);
  transform: translate(-101%);
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* transition: transform 0.3s ease-in-out; */
}

.nav-item a {
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: #3498db;
}

.mobile-nav {
    transform: translate(0%)!important;
    /* transition: transform 0.3s ease-in-out; */
}

@media screen and (min-width: 768px) {
  /* .navbar {
    display: none;
  } */
}
