:root {
  --primary: #212529;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary);
  text-align: left;
  background-color: #fff;
}

::selection {
  background: #2125292d;
}

.primary__link {
  text-decoration: none;
  color: inherit;
}

.primary__link:hover,
.primary__link:active {
  color: inherit;
}

.primary__button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--primary);
  border: 1.5px solid var(--primary);
  color: #fff;
  box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem;
  user-select: none;
  text-decoration: none;
  transition: 0.2s ease all;
}

.primary__button:hover {
  background-color: transparent;
  color: var(--primary);
}

.display__block {
  display: block;
}

.double-line-height {
  line-height: 2;
}
