@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1a332d;
  --primary-light: rgba(52, 58, 64, 0.5);
  --text-primary: #ce9969;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* height: 100%; */
}

#root {
  /* height: 100%; */
}

body {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary);
  text-align: left;
  background-color: #fff;
  /* height: 100%; */
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}
h3 {
  font-size: 1.17rem;
  font-weight: 700;
  line-height: 1.2;
}
h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
}

.App {
  /* height: 100%; */
}

::selection {
  background: #1a332d;
  color: white;
}

.primary_header {
  background-color: var(--primary);
  color: var(--text-primary);
  z-index: 10;
  position: sticky;
  top: 0;
}

.primary__link {
  text-decoration: none;
  color: inherit;
}

.primary__link:hover,
.primary__link:active {
  color: inherit;
}

.primary__button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1.5px solid var(--primary);
  color: var(--primary);
  box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  user-select: none;
  text-decoration: none;
  transition: 0.3s ease all;
}

.primary__button:hover {
  background-color: var(--primary);
  color: #fff;
}

.display__block {
  display: block;
}

.double-line-height {
  line-height: 2;
}

.slick-slide img {
  margin: auto;
}

/* mobile nav transitions */

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.grid-secondary {
  margin-top: 75%;
}

/* mobile nav transitions end */

@media screen and (min-width: 860px) {
  .grid-secondary {
    margin-top: 35%;
  }
}

@media screen and (min-width: 992px) {
  .layout__aside {
    display: block;
  }
}
