/* create a variable */
:root {
  --primary-margin: 0.5rem;
}

.productDetailsWrapper {
  margin-bottom: 2rem;
}

.productMediaWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.carouselWrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.imageWrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carouselArrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  cursor: pointer;
  color: white;
}

.leftArrow {
  left: 0;
  margin: 0 0 0 1rem;
}

.rightArrow {
  right: 0;
  margin: 0 1rem 0 0;
}

.sliderImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.productInfoWrapper {
}

.productName {
  font-size: 1.5rem;
  font-weight: 600;
  margin: var(--primary-margin) 0;
}

.productDescription {
  font-size: 1rem;
  font-weight: 400;
  margin: var(--primary-margin) 0;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: 600;
  margin: var(--primary-margin) 0;
  color: #555;
}

.addCartButton {
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-right: 0.5rem;
  /* border: 1.5px solid var(--primary); */
  background-color: var(--primary);
  color: #fff;
  box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2px;
  user-select: none;
  text-decoration: none;
  transition: 0.3s ease all;
}

.wishlistButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: var(--primary);
  box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
  text-align: center;
  font-size: 1.65rem;
  border-radius: 2px;
  user-select: none;
  text-decoration: none;
  transition: 0.3s ease all;
}

.wishlistIconFilled {
  color: tomato;
  transition: 0.2s ease all;
}

@media (hover: hover) {
  .addCartButton:hover {
    background-color: var(--primary-light);
    color: #fff;
  }
}

.productCareWrapper {
  font-size: 1rem;
  font-weight: 400;
  margin: var(--primary-margin) 0;
}

.contactUsWrapper {
  background-color: #f7f8fa;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}

.innerContainer {
  max-width: 650px;
}

/* media query for min 768 width */
@media (min-width: 768px) {
  .productDetailsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .productMediaWrapper {
    width: 65%;
    height: 100%;
    margin-bottom: 0;
  }

  .productInfoWrapper {
    width: 35%;
    height: 100%;
    margin-left: 2rem;
  }

  .carouselWrapper {
    height: 400px;
  }

  .sliderImg {
    height: 400px;
  }

  .addCartButton {
    width: 50%;
  }
}

/* media query for min 768 width */
@media (min-width: 1080px) {
  .carouselWrapper {
    height: 500px;
  }

  .sliderImg {
    height: 500px;
  }
}

@keyframes inAnimation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes outAnimation {
  20% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
