.form__group {
  position: relative;
  padding: 15px 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: var(--primary);
  padding: 7px 0 3px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  user-select: none;
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.1rem;
  cursor: text;
  top: 23px;
}

.form__label {
  user-select: none;
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.9rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 3px;
  border-width: 1px;
  border-image: linear-gradient(to right, var(--primary), var(--primary));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.9rem;
  color: var(--primary);
  font-weight: 400;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
